<% if ( artifact.equippedTo === "Albedo" ) { %>
    <img src="/img/albedo.png" alt="Albedo">
<% } else if ( artifact.equippedTo === "Amber" ) { %>
    <img src="/img/amber.png" alt="Amber">
<% } else if ( artifact.equippedTo === "Barbara" ) { %>
    <img src="/img/barbara.png" alt="Barbara">
<% } else if ( artifact.equippedTo === "Beidou" ) { %>
    <img src="/img/beidou.png"alt="Beidou" >
<% } else if ( artifact.equippedTo === "Bennett" ) { %>
    <img src="/img/bennett.png" alt="Bennett">
<% } else if ( artifact.equippedTo === "Chongyun" ) { %>
    <img src="/img/chongyun.png" alt="Chongyun">
<% } else if ( artifact.equippedTo === "Diluc" ) { %>
    <img src="/img/diluc.png" alt="Diluc">
<% } else if ( artifact.equippedTo === "Diona" ) { %>
    <img src="/img/diona.png" alt="Diona">
<% } else if ( artifact.equippedTo === "Fischl" ) { %>
    <img src="/img/fischl.png" alt="Fischl">
<% } else if ( artifact.equippedTo === "Ganyu" ) { %>
    <img src="/img/ganyu.png" alt="Ganyu">
<% } else if ( artifact.equippedTo === "Hu Tao" ) { %>
    <img src="/img/hu-tao.png" alt="Hu Tao">
<% } else if ( artifact.equippedTo === "Jean" ) { %>
    <img src="/img/jean.png" alt="Jean">
<% } else if ( artifact.equippedTo === "Kaeya" ) { %>
    <img src="/img/kaeya.png" alt="Kaeya">
<% } else if ( artifact.equippedTo === "Keqing" ) { %>
    <img src="/img/keqing.png" alt="Keqing">
<% } else if ( artifact.equippedTo === "Klee" ) { %>
    <img src="/img/klee.png" alt="Klee">
<% } else if ( artifact.equippedTo === "Lisa" ) { %>
    <img src="/img/lisa.png" alt="Lisa">
<% } else if ( artifact.equippedTo === "Mona" ) { %>
    <img src="/img/mona.png" alt="Mona">
<% } else if ( artifact.equippedTo === "Ningguang" ) { %>
    <img src="/img/ningguang.png" alt="Ningguang">
<% } else if ( artifact.equippedTo === "Noelle" ) { %>
    <img src="/img/noelle.png" alt="Noelle">
<% } else if ( artifact.equippedTo === "Qiqi" ) { %>
    <img src="/img/qiqi.png" alt="Qiqi">
<% } else if ( artifact.equippedTo === "Razor" ) { %>
    <img src="/img/razor.png" alt="Razor">
<% } else if ( artifact.equippedTo === "Sucrose" ) { %>
    <img src="/img/sucrose.png" alt="Sucrose">
<% } else if ( artifact.equippedTo === "Tartaglia" ) { %>
    <img src="/img/tartaglia.png" alt="Tartaglia">
<% } else if ( artifact.equippedTo === "Traveler" ) { %>
    <img src="/img/traveler.png" alt="Traveler">
<% } else if ( artifact.equippedTo === "Venti" ) { %>
    <img src="/img/venti.png" alt="Venti">
<% } else if ( artifact.equippedTo === "Xiangling" ) { %>
    <img src="/img/xiangling.png" alt="Xiangling">
<% } else if ( artifact.equippedTo === "Xiao" ) { %>
    <img src="/img/xiao.png" alt="Xiao">
<% } else if ( artifact.equippedTo === "Xingqiu" ) { %>
    <img src="/img/xingqiu.png" alt="Xingqiu">
<% } else if ( artifact.equippedTo === "Xinyan" ) { %>
    <img src="/img/xinyan.png" alt="Xinyan">
<% } else if ( artifact.equippedTo === "Zhongli" ) { %>
    <img src="/img/zhongli.png" alt="Zhongli">
<% } else { %>
    <p>None</p>
<% } %>