<footer>
    <div class="footer-content">
        <div class="copyright">
            <p>&copy; 2021 Kirsten Green.</p>
        </div>
        <div class="footer-links">
            <a href="https://github.com/kirstengreen/genshin-impact-inventory">GitHub</a>
        </div>
    </div>
</footer>