<header>
    <div class="navbar">
        <h3>Genshin Impact Inventory </h3>
        <nav>
            <a href="/inventory">Home</a>
            <a href="/inventory/artifacts">Artifacts</a>
        </nav>
    </div>
</header>