<div class="inventory-nav">
    <div class="inventory-nav-content">
        <h1 class="page-head">Inventory</h1>
        <div class="inventory-nav-links">
            <a href="/">Home</a>
            <a href="/artifacts">Artifacts</a>
        </div>
    </div>
</div>