<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD PARTIAL -->
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER PARTIAL -->
    <%- include ('./partials/header.ejs') %>
    <!-- INVENTORY NAV -->
    <%- include ('./partials/inventory-nav.ejs') %>
    <div class="content">
        <div class="category-content">
            <div class="category-header">
                <h1>Categories</h1>
            </div>
            <div class="item-grid">
                <div class="grid-item">
                    <h3>Artifacts</h3>
                    <p>Take a look at all of that artifacts you have placed in your inventory</p>
                    <form action="/artifacts/">
                        <input class="primary" type="submit" value="View" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER PARTIAL -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>