<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD PARTIAL -->
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER PARTIAL -->
    <%- include ('./partials/header.ejs') %>
    <div class="content">
        <h1>Inventory</h1>
        <!-- INVENTORY NAV -->
        <%- include ('./partials/inventory-nav.ejs') %>
        <div class="category-content">
            <div class="category-header">
                <h2>Summary</h2>
            </div>
            <div class="item-grid">

            </div>
        </div>
    </div>
    <!-- FOOTER PARTIAL -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>