@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* * {
    border: 1px solid rgb( 250, 126, 112 );
} */


/* GLOBAL STYLES */

body {
    display: flex;
    flex-direction: column;
    background-color: rgb( 242, 242, 242 );
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}



/* TEXT STYLES */

h1, h2, h3 {
    margin-bottom: 16px;
}

a {
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}



/* HEADER STYLES */

header {
    position: sticky;
    padding: 8px 0;
    background-color: rgb( 51, 51, 51 );
    box-shadow: 3px 3px 3px rgba( 51, 51, 51, .3 );
    color: rgb( 255, 255, 255 );
}

.navbar {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar h3 {
    margin: 0;
}

nav a {
    display: inline-block;
    margin: auto;
    padding: 8px 0;
    font-size: 20px;
    color: rgb( 255, 255, 255 );
}

nav a:not(:last-child) {
    margin-right: 16px;
}



/* FOOTER STYLES */

footer {
    flex-shrink: 0;
    padding: 8px 0;
    background-color: rgb( 51, 51, 51 );
    box-shadow: 3px 3px 3px rgba( 51, 51, 51, .3 );
    color: rgb( 255, 255, 255 );
}

.footer-content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a {
    display: inline-block;
    margin: auto;
    padding: 8px 0;
    color: rgb( 255, 255, 255 );
}



/* CONTENT STYLES */

.content {
    flex: 1 0 auto;
    width: 80%;
    max-width: 1200px;
    margin: 32px auto 48px;
}

.inventory-nav {
    margin: 16px auto 24px;
}

.inventory-nav a:not(:last-child) {
    margin-right: 24px;
}

.category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px auto 0;
}

.item-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    grid-gap: 32px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    width: 250px;
    padding: 24px;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 2px 2px 3px rgba( 51, 51, 51, .3 );
    border-radius: 5px;
}

.grid-item ul {
    padding: 0;
}

.grid-item ul li {
    list-style-type:none;
}



/* FORM STYLES */

.form-content {
    background-color: rgb( 255, 255, 255 );
    box-shadow: 2px 2px 3px rgba( 51, 51, 51, .3 );
    border-radius: 5px;
}



/* ARTIFACT SHOW PAGE */

.artifact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 2px 2px 3px rgba( 51, 51, 51, .3 );
    border-radius: 5px;
}

.artifact-col {
    width:30%;
}

.stats:not(:last-child) {
    margin: 0 0 24px;
}