@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* * {
    border: 1px solid rgb( 250, 126, 112 );
} */


/* GLOBAL STYLES */

body {
    display: flex;
    flex-direction: column;
    background-color: rgb( 242, 242, 242 );
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}



/* TEXT STYLES */


h1 {
    margin-bottom: 16px;
}

h2 {
    margin-bottom: 16px;
}

a {
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}



/* HEADER STYLES */

header {
    position: sticky;
    padding: 8px 0;
    background-color: rgb( 51, 51, 51 );
    box-shadow: 3px 3px 3px rgba( 51, 51, 51, .3 );
    color: rgb( 255, 255, 255 );
}

.navbar {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: inline-block;
    margin: auto;
    padding: 8px 0;
    font-size: 20px;
    color: rgb( 255, 255, 255 );
}

nav a:not(:last-child) {
    margin-right: 16px;
}



/* FOOTER STYLES */

footer {
    flex-shrink: 0;
    padding: 8px 0;
    background-color: rgb( 51, 51, 51 );
    box-shadow: 3px 3px 3px rgba( 51, 51, 51, .3 );
    color: rgb( 255, 255, 255 );
}

.footer-content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a {
    display: inline-block;
    margin: auto;
    padding: 8px 0;
    color: rgb( 255, 255, 255 );
}



/* CONTENT STYLES */


.content {
    flex: 1 0 auto;
    width: 80%;
    max-width: 1200px;
    margin: 32px auto 48px;
}

.inventory-nav {
    margin: 16px auto;
}

.inventory-nav a:not(:last-child) {
    margin-right: 24px;
}