<option value="Flower of Life">Flower of Life</option>
<option value="Plume of Death">Plume of Death</option>
<option value="Sands of Eon">Sands of Eon</option>
<option value="Goblet of Eonothem">Goblet of Eonothem</option>
<option value="Circlet of Logos">Circlet of Logos</option>