<% if ( tabTitle === 'New Artifact' ) { %>
    <% for ( let i =1; i <= 5; i++ ) { %>
        <option value="<%= i %>"><%= i %> Star</option>
    <% } %>
<% } else if ( tabTitle === 'Edit Artifact' ) { %>
    <% for ( let i =1; i <= 5; i++ ) { %>
        <option value="<%= i %>"
            <% if ( artifact.rarity ===  i ) { %>
                selected
            <% } %>     
        ><%= i %> Star</option>
    <% } %>
<% } %>