<option value="ATK">ATK</option>
<option value="ATK %">ATK %</option>
<option value="CRIT DMG %">CRIT DMG %</option>
<option value="CRIT Rate %">CRIT Rate %</option>
<option value="DEF">DEF</option>
<option value="DEF %">DEF %</option>
<option value="Elemental Mastery">Elemental Mastery</option>
<option value="Energy Recharge %">Energy Recharge %</option>
<option value="HP">HP</option>
<option value="HP %">HP %</option>