<% if ( tabTitle === 'New Artifact' ) { %>
    <optgroup label="5 Star Max Sets">
        <option value="Archaic Petra">Archaic Petra</option>
        <option value="Blizzard Strayer">Blizzard Strayer</option>
        <option value="Bloodstained Chivalry">Bloodstained Chivalry</option>
        <option value="Crimson Witch of Flames">Crimson Witch of Flames</option>
        <option value="Gladiator's Finale">Gladiator's Finale</option>
        <option value="Heart of Depth">Heart of Depth</option>
        <option value="Lavawalker">Lavawalker</option>
        <option value="Maiden Beloved">Maiden Beloved</option>
        <option value="Noblesse Oblige">Noblesse Oblige</option>
        <option value="Retracing Bolide">Retracing Bolide</option>
        <option value="Thundering Fury">Thundering Fury</option>
        <option value="Thundersoother">Thundersoother</option>
        <option value="Viridescent Venerer">Viridescent Venerer</option>
        <option value="Wanderer's Troupe">Wanderer's Troupe</option>
    </optgroup>
    <optgroup label="4 Star Max Sets">
        <option value="Berserker">Berserker</option>
        <option value="Brave Heart">Brave Heart</option>
        <option value="Defender's Will">Defender's Will</option>
        <option value="Gambler">Gambler</option>
        <option value="Instructor">Instructor</option>
        <option value="Martial Artist">Martial Artist</option>
        <option value="Prayers for Destiny">Prayers for Destiny</option>
        <option value="Prayers for Illumination">Prayers for Illumination</option>
        <option value="Prayers for Wisdom">Prayers for Wisdom</option>
        <option value="Prayers to Springtime">Prayers to Springtime</option>
        <option value="Resolution of Sojourner">Resolution of Sojourner</option>
        <option value="Scholar">Scholar</option>
        <option value="The Exile">The Exile</option>
        <option value="Tiny Miracle">Tiny Miracle</option>
    </optgroup>
    <optgroup label="3 Star Max Sets">
        <option value="Adventurer">Adventurer</option>
        <option value="Lucky Dog">Lucky Dog</option>
        <option value="Traveling Doctor">Traveling Doctor</option>
    </optgroup>
<% } else if ( tabTitle === 'Edit Artifact' ) { %>
    <optgroup label="5 Star Max Sets">
        <option value="Archaic Petra"
            <% if ( artifact.set ===  "Archaic Petra" ) { %>
                selected
            <% } %>
        >Archaic Petra</option>
        <option value="Blizzard Strayer"
            <% if ( artifact.set ===  "Blizzard Strayer" ) { %>
                selected
            <% } %>
        >Blizzard Strayer</option>
        <option value="Bloodstained Chivalry"
            <% if ( artifact.set ===  "Bloodstained Chivalry" ) { %>
                selected
            <% } %>
        >Bloodstained Chivalry</option>
        <option value="Crimson Witch of Flames"
            <% if ( artifact.set ===  "Crimson Witch of Flames" ) { %>
                selected
            <% } %>
        >Crimson Witch of Flames</option>
        <option value="Gladiator's Finale"
            <% if ( artifact.set ===  "Gladiator's Finale" ) { %>
                selected
            <% } %>
        >Gladiator's Finale</option>
        <option value="Heart of Depth"
            <% if ( artifact.set ===  "Heart of Depth" ) { %>
                selected
            <% } %>
        >Heart of Depth</option>
        <option value="Lavawalker"
            <% if ( artifact.set ===  "Lavawalker" ) { %>
                selected
            <% } %>
        >Lavawalker</option>
        <option value="Maiden Beloved"
            <% if ( artifact.set ===  "Maiden Beloved" ) { %>
                selected
            <% } %>
        >Maiden Beloved</option>
        <option value="Noblesse Oblige"
            <% if ( artifact.set ===  "Noblesse Oblige" ) { %>
                selected
            <% } %>
        >Noblesse Oblige</option>
        <option value="Retracing Bolide"
            <% if ( artifact.set ===  "Retracing Bolide" ) { %>
                selected
            <% } %>
        >Retracing Bolide</option>
        <option value="Thundering Fury"
            <% if ( artifact.set ===  "Thundering Fury" ) { %>
                selected
            <% } %>
        >Thundering Fury</option>
        <option value="Thundersoother"
            <% if ( artifact.set ===  "Thundersoother" ) { %>
                selected
            <% } %>
        >Thundersoother</option>
        <option value="Viridescent Venerer"
            <% if ( artifact.set ===  "Viridescent Venerer" ) { %>
                selected
            <% } %>
        >Viridescent Venerer</option>
        <option value="Wanderer's Troupe"
            <% if ( artifact.set ===  "Wanderer's Troupe" ) { %>
                selected
            <% } %>
        >Wanderer's Troupe</option>
    </optgroup>
    <optgroup label="4 Star Max Sets">
        <option value="Berserker"
            <% if ( artifact.set ===  "Berserker" ) { %>
                selected
            <% } %>
        >Berserker</option>
        <option value="Brave Heart"
            <% if ( artifact.set ===  "Brave Heart" ) { %>
                selected
            <% } %>
        >Brave Heart</option>
        <option value="Defender's Will"
            <% if ( artifact.set ===  "Defender's Will" ) { %>
                selected
            <% } %>
        >Defender's Will</option>
        <option value="Gambler"
            <% if ( artifact.set ===  "Gambler" ) { %>
                selected
            <% } %>
        >Gambler</option>
        <option value="Instructor"
            <% if ( artifact.set ===  "Instructor" ) { %>
                selected
            <% } %>
        >Instructor</option>
        <option value="Martial Artist"
            <% if ( artifact.set ===  "Martial Artist" ) { %>
                selected
            <% } %>
        >Martial Artist</option>
        <option value="Prayers for Destiny"
            <% if ( artifact.set ===  "Prayers for Destiny" ) { %>
                selected
            <% } %>
        >Prayers for Destiny</option>
        <option value="Prayers for Illumination"
            <% if ( artifact.set ===  "Prayers for Illumination" ) { %>
                selected
            <% } %>
        >Prayers for Illumination</option>
        <option value="Prayers for Wisdom"
            <% if ( artifact.set ===  "Prayers for Wisdom" ) { %>
                selected
            <% } %>
        >Prayers for Wisdom</option>
        <option value="Prayers to Springtime"
            <% if ( artifact.set ===  "Prayers to Springtime" ) { %>
                selected
            <% } %>
        >Prayers to Springtime</option>
        <option value="Resolution of Sojourner"
            <% if ( artifact.set ===  "Resolution of Sojourner" ) { %>
                selected
            <% } %>
        >Resolution of Sojourner</option>
        <option value="Scholar"
            <% if ( artifact.set ===  "Scholar" ) { %>
                selected
            <% } %>
        >Scholar</option>
        <option value="The Exile"
            <% if ( artifact.set ===  "The Exile" ) { %>
                selected
            <% } %>
        >The Exile</option>
        <option value="Tiny Miracle"
            <% if ( artifact.set ===  "Tiny Miracle" ) { %>
                selected
            <% } %>
        >Tiny Miracle</option>
    </optgroup>
    <optgroup label="3 Star Max Sets">
        <option value="Adventurer"
            <% if ( artifact.set ===  "Adventurer" ) { %>
                selected
            <% } %>
        >Adventurer</option>
        <option value="Lucky Dog"
            <% if ( artifact.set ===  "Lucky Dog" ) { %>
                selected
            <% } %>
        >Lucky Dog</option>
        <option value="Traveling Doctor"
            <% if ( artifact.set ===  "Traveling Doctor" ) { %>
                selected
            <% } %>
        >Traveling Doctor</option>
    </optgroup>
<% } %>