<option value="Anemo DMG Bonus %">Anemo DMG Bonus %</option>
<option value="ATK">ATK</option>
<option value="ATK %">ATK %</option>
<option value="CRIT DMG %">CRIT DMG %</option>
<option value="CRIT Rate %">CRIT Rate %</option>
<option value="Cyro DMG Bonus %">Cyro DMG Bonus %</option>
<option value="DEF %">DEF %</option>
<option value="Electro DMG Bonus %">Electro DMG Bonus %</option>
<option value="Elemental Mastery">Elemental Mastery</option>
<option value="Energy Recharge %">Energy Recharge %</option>
<option value="Geo DMG Bonus %">Geo DMG Bonus %</option>
<option value="Healing Bonus %">Healing Bonus %</option>
<option value="HP">HP</option>
<option value="HP %">HP %</option>
<option value="Hydro DMG Bonus %">Hydro DMG Bonus %</option>
<option value="Physical DMG Bonus %">Physical DMG Bonus %</option>
<option value="Pyro DMG Bonus %">Pyro DMG Bonus %</option>