<% if ( tabTitle === 'New Artifact' ) { %>
    <option value="None">None</option>
    <option value="ATK">ATK</option>
    <option value="ATK %">ATK %</option>
    <option value="CRIT DMG %">CRIT DMG %</option>
    <option value="CRIT Rate %">CRIT Rate %</option>
    <option value="DEF">DEF</option>
    <option value="DEF %">DEF %</option>
    <option value="Elemental Mastery">Elemental Mastery</option>
    <option value="Energy Recharge %">Energy Recharge %</option>
    <option value="HP">HP</option>
    <option value="HP %">HP %</option>
<% } else if ( tabTitle === 'Edit Artifact' ) { %>
    <option value="None"
        <% if ( artifact.subStat4.statType ===  "None" ) { %>
            selected
        <% } %>
    >None</option>
    <option value="ATK"
        <% if ( artifact.subStat4.statType ===  "ATK" ) { %>
            selected
        <% } %>
    >ATK</option>
    <option value="ATK %"
        <% if ( artifact.subStat4.statType ===  "ATK %" ) { %>
            selected
        <% } %>
    >ATK %</option>
    <option value="CRIT DMG %"
        <% if ( artifact.subStat4.statType ===  "CRIT DMG %" ) { %>
            selected
        <% } %>
    >CRIT DMG %</option>
    <option value="CRIT Rate %"
        <% if ( artifact.subStat4.statType ===  "CRIT Rate %" ) { %>
            selected
        <% } %>
    >CRIT Rate %</option>
    <option value="DEF"
        <% if ( artifact.subStat4.statType ===  "DEF" ) { %>
            selected
        <% } %>
    >DEF</option>
    <option value="DEF %"
        <% if ( artifact.subStat4.statType ===  "DEF %" ) { %>
            selected
        <% } %>
    >DEF %</option>
    <option value="Elemental Mastery"
        <% if ( artifact.subStat4.statType ===  "Elemental Mastery" ) { %>
            selected
        <% } %>
    >Elemental Mastery</option>
    <option value="Energy Recharge %"
        <% if ( artifact.subStat4.statType ===  "Energy Recharge %" ) { %>
            selected
        <% } %>
    >Energy Recharge %</option>
    <option value="HP"
        <% if ( artifact.subStat4.statType ===  "HP" ) { %>
            selected
        <% } %>
    >HP</option>
    <option value="HP %"
        <% if ( artifact.subStat4.statType ===  "HP %" ) { %>
            selected
        <% } %>
    >HP %</option>
<% } %>